<main>
    <div>
        <nav>
            <a routerLink="home">Home</a>
            <span class="link-separator"></span>
            <a routerLink="login">Login</a>
            <span class="link-separator"></span>
            <a routerLink="signup">Signup</a>
            <span class="link-separator"></span>
            <a routerLink="add">Add</a>
            <span class="link-separator"></span>
            <a routerLink="view">List</a>
        </nav>
        <br>
        <router-outlet></router-outlet>
    </div>
</main>